Flask>=2.0
werkzeug>=2.0
holidays>=0.40
ldap3>=2.9
gunicorn>=20.1.0
flask>=3.0.0
flask-sqlalchemy>=3.0.0     # si usas SQLAlchemy (por db.py)
flask-login>=0.6.0          # si tienes auth/login
gunicorn>=23.0.0
psycopg2-binary>=2.9.0      # si usas PostgreSQL
python-dotenv>=1.0.0        # si usas variables de entorno
